
## Test Results for Nissi-Prabhatha

### Playwright
- Total tests: 21
- Passed tests: 21

### LightHouse

- Performance score: 75
- Accessibility score: 66
- Best practices score: 91
- SEO score: 83
- Average Lighthouse score: 79
